#loginPageWrapper{
    width: 95%;
    align-self: center;
}

#loginHeader{
    height: 20%;
}

#content{
    align-self: center;
    width: 80px;
}

@media screen and (max-device-width: 496px) {
    #loginHeader{
        height: 10%;
    }

    #content{
        align-self: center;
        width: 80%;
    }
}